@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed:300|Raleway&display=swap');

.visible {
    opacity: 1;
    visibility: visible;
}

.cache {
    opacity: 0;
    visibility: hidden;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #F39C12;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: #0A0908;
    text-decoration: none;
}

/* CONFIG */

.config-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #0A0908;
    border-radius: 100%;
    z-index: 1;
    width: 50px;
    height: 50px;
}

.config-button:hover {
    background-color: #4d4a4a;
}

.config-menu {
    display: none;
    position: absolute;
    height: 100vh;
    width: 0;
    right: 0;
    background-color: whitesmoke;
    z-index: 1;
    transition: width 0.3s, background-color 0.5s;
    box-shadow: -1px 0 5px 0 #0A0908;
}

.config-menu * {
    font-family: Raleway, Roboto, sans-serif;
}

.config-menu.show {
    display: block;
}

.dark-mode {
    width: max-content;
    margin: 40% auto 20%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

/* Hide default HTML checkbox */
.switch .darkmode-button {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s, background-color 0.5s;
    transition: .4s, background-color 0.5s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -13px;
    bottom: -3px;
    background-color: #0A0908;
    -webkit-transition: .4s, background-color 0.5s;
    transition: .4s, background-color 0.5s;
    border-radius: 50%;
}

.darkmode-button:checked + .slider {
    background-color: #F39C12;
}

.darkmode-button:focus + .slider {
    box-shadow: 0 0 1px #F39C12;
}

.darkmode-button:checked + .slider:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
}

.lang {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
}

.lang .lang-text {
    margin: auto auto 20px;
}

.flag-item {
    width: 45px;
    height: 30px;
}

.flag-item:not(:last-child) {
    margin-right: 20px;
}

/* DARK MODE */

* {
    transition: color 0s, background-color 0.5s;
}

.black-color-0 {
    color: white !important;
}

.black-color-1 .active {
    color: #F39C12 !important;
}

.black-color-2 {
    color: white !important;
}

.black-color-3 div:hover {
    color: #ff1a1a !important;
}

.black-bg-0 {
    background-color: #0A0908 !important;
}

.black-bg-1 {
    background-color: #302e2a !important;
}

.black-bg-2 {
    background-color: #585858 !important;
}

.black-bg-3:hover {
    background-color: #0A0908 !important;
}

.black-bg-4 {
    background-color: #272727 !important;
}

.black-bg-5:before {
    background-color: white !important;
}

.black-bg-6 {
    background-color: #484848 !important;
}

.black-border {
    border: white solid 1px;
}


/* MENU */

.menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: min-content;
}

.menu img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto;
}

.menu .navbar {
    margin-top: 20px;
}

.menu nav {
    height: 70%;
    display: flex;
    flex-direction: column;
}

nav ul {
    text-align: center;
    padding: 3px 10px;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin: 20px auto;
}

nav ul:before {
    content: '';
    border: #424949 solid 2px;
    border-right: none;
    border-left: none;
    position: absolute;
    opacity: 0;
    top: 5px;
    right: 0;
    left: 0;
    bottom: 4px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s, opacity 0.2s, background-color 0.5s;
}

nav ul:hover:before {
    top: -12px;
    right: -12px;
    left: -12px;
    bottom: -12px;
    opacity: 1;
}

nav ul.active {
    color: #fff;
}

/* MAINCONTENT */

.maincontent .background {
    background-color: #EAE0D5;
}

.maincontent > div {
    transition: opacity 0.2s, visibility 0.2s, background-color 0.5s;
    height: 100vh;
    width: calc(100vw - 20%);
    position: absolute;
    font-family: Raleway, Roboto, sans-serif;
    display: flex;
}

.maincontent .titre {
    font-size: 42px;
    padding-bottom: 30px;
}

.container {
    margin: auto;
    height: auto;
    width: max-content;
}

/* -- Page 1 -- */

#mc1 .name {
    font-size: 24px;
    padding-bottom: 20px;
}

#mc1 .poste {
    text-transform: uppercase;
    padding-bottom: 20px;
}

#mc1 table {
    border-spacing: 0 10px;
    margin: auto;
}

#mc1 td:first-child {
    padding-right: 10px;
    font-weight: bold;
}

#mc1 tr:not(:last-child) td {
    padding-bottom: 10px;
    border-bottom: 1px solid #0A0908;
}

#mc1 tr:not(:last-child) {
    padding-bottom: 10px;
}

#mc1 .social-icon td {
    text-align: center;
}

#mc1 .social-icon div {
    margin: auto;
}

/* Page 2 */

#mc2 table {
    border-spacing: 0;
}

#mc2 .star td {
    border-bottom: 1px solid #0A0908;
    padding: 1px 2px;
}

#mc2 .star td:first-child {
    padding-right: 20px;
}

#mc2 .star td:not(:first-child) {
    color: #0A0908;
}

#mc2 .star .star-icon::before {
    content: '\2605';
}

#mc2 .star .star-icon.check {
    color: #D5A021;
}

/* Page 3 */

#mc3 .tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 5px 0 #0A0908;
}

#mc3 .tab-item {
    background-color: #F0F7F4;
    font-size: 18px;
}

#mc3 .tab-item .tab-titre {
    padding: 5px;
}

#mc3 .tab-item .tab-titre:hover {
    background-color: #ddd;
}

#mc3 .tab-item:not(:last-child) {
    border-bottom: #cccccc solid 1px;
}

#mc3 .tab-item .text-cont {
    max-height: 0;
    transition: max-height 0.2s ease-out, background-color 0.5s;
    background: #D4B483;
    overflow: hidden;
    padding: 0 18px;
}

#mc3 .tab-item .text {
    font-size: 16px;
    height: min-content;
    padding: 10px 0;
}

#mc3 .tab-item .text div {
    padding: 3px 0;
    text-align: justify;
}

#mc3 .tab-item .image {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0 20px;
}

#mc3 .tab-item .image * {
    width: 45%;
    margin: auto;
}

#mc3 .tab-item .image.i-1 * {
    width: 80%;
}


#mc3 .tab-item .image.i-2spe * {
    width: 35%;
}

#mc3 .tab-item .image.i-3 * {
    width: 30%;
}

#mc3 .tab-item .image.i-4 * {
    width: 20%;
}

/* Page 4 */

#mc4 .spe {
    margin-top: 15%;
}

#mc4 .text-cont-4 {
    display: flex;
    flex-direction: row;
}

#mc4 .text-cont-4 .annee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    text-align: center;
    padding: 10px 0;
}

#mc4 .text-cont-4 .annee * {
    font-size: 22px;
    padding-bottom: 5px;
    transition: color 0.3s, background-color 0.5s;
}

#mc4 .text-cont-4 .annee .select {
    color: #e3ae24;
    font-size: 28px;
}

/*#mc4 .text-cont-4 .annee *:after {
    content: '';
    display : inline-block;
    height : 0;
    width : 0;
    margin-left: 5px;
    border-top : 6px solid transparent;
    border-bottom : 6px solid transparent;
    border-right : 12px solid transparent;
}

#mc4 .text-cont-4 .annee .select:after {
    border-right : 12px solid #B3BFB8;
}*/

#mc4 .text-cont-4 .annee *:hover {
    color: #b70000;
    text-decoration: underline;
}

#mc4 .text-cont-4 .text-annee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
}

#mc4 .annee-item .annee-item-item {
    padding: 10px;
}

#mc4 .annee-item .annee-item-titre {
    font-size: 24px;
    padding-bottom: 5px;
}

#mc4 .annee-item .annee-item-text {
    text-align: justify;
}

/* ICON */

.fa {
    transition: opacity 0.2s, background-color 0.5s;
    padding: 10px 0;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-instagram {
    background: #db00f4;
}

.fa-github {
    background: black;
}

.fa-cog {
    margin: 0;
}

.fa-cog:hover {
    opacity: 1;
}

/* Mobile */

@media screen and (max-width: 768px) {
    .menu {
        width: 0;
    }

    .maincontent > div {
        width: 100vw;
    }

    .maincontent .titre {
        font-size: 5em;
        text-align: center;
    }

    #mc1 .name {
        font-size: 3em;
        text-align: center;
    }

    #mc1 .poste {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 40px;
    }

    #mc1 table {
        font-size: 1.3em;
    }

    #mc1 .fa {
        font-size: 2em;
        width: 1.4em;
    }
}