@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed:300|Raleway&display=swap');

.visible {
    opacity: 1;
    visibility: visible;
}

.cache {
    opacity: 0;
    visibility: hidden;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh !important;
    width: 100% !important;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

/* DARK MODE */

* {
    transition: color 0s, background-color 0.5s;
}

.black-color-0 {
    color: white !important;
}

.black-color-1 .active {
    color: #79E7FF !important;
}

.black-color-2 {
    color: white !important;
}

.black-color-3 div:hover {
    color: #79E7FF !important;
}

.black-bg-0 {
    background-color: #0A0908 !important;
}

.black-bg-1 {
    background-color: #302e2a !important;
}

.black-bg-2 {
    background-color: #585858 !important;
}

.black-bg-3:hover {
    background-color: #0A0908 !important;
}

.black-bg-4 {
    background-color: #272727 !important;
}

.black-bg-5:before {
    background-color: white !important;
}

.black-bg-6 {
    background-color: #484848 !important;
}

.black-bg-7 ul:not(.not-hover) li:hover {
    background-color: #606060 !important;
}

.black-border {
    border: white solid 1px !important;
}

.black-spe {
    border: white solid 1px !important;
    color: white !important;
}

.black-spe:hover {
    background-color: #3c3f3e !important;
}

/* MENU */

.navburger {
    display: none;
    z-index: 2;
}

.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 20%;
    background-color: #79E7FF;
}

.widget {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.widget .hide {
    display: none;
}

.widget > * {
    cursor: pointer;
}

.flag-item {
    width: 45px;
    height: 30px;
}

.flag-item:not(:last-child) {
    margin-right: 20px;
}

.language {
    margin: auto 0;
}

.navbar-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: min-content;
}

.navbar-cont img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto;
}

.navbar-cont .navbar {
    margin-top: 20px;
}

.navbar-cont nav {
    height: 70%;
    display: flex;
    flex-direction: column;
}

nav ul {
    text-align: center;
    padding: 3px 10px;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin: 20px auto;
    cursor: pointer;
}

nav ul:before {
    content: '';
    border: #424949 solid 2px;
    border-right: none;
    border-left: none;
    position: absolute;
    opacity: 0;
    top: 5px;
    right: 0;
    left: 0;
    bottom: 4px;
    transition: top 0.5s, right 0.5s, left 0.5s, bottom 0.5s, opacity 0.2s, background-color 0.5s;
}

nav ul:hover:before {
    top: -12px;
    right: -12px;
    left: -12px;
    bottom: -12px;
    opacity: 1;
}

nav ul.active {
    color: #fff;
}

/* MAINCONTENT */

.maincontent .background {
    background-color: #F0F7F4;
}

.maincontent > div {
    transition: opacity 0.2s, visibility 0.2s, background-color 0.5s;
    height: 100vh;
    width: calc(100vw - 20%);
    position: absolute;
    font-family: Raleway, Roboto, sans-serif;
    display: flex;
}

.maincontent .titre {
    font-size: 42px;
    padding-bottom: 20px;
    color: #00A2E8;
}

.container {
    margin: auto;
    height: auto;
    width: 60%;
}

/* -- Page 1 -- */

#mc1 .container {
    display: flex;
    flex-direction: column;
}

#mc1 .part1 {
    border-bottom: 1px darkgray solid;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#mc1 .part2 {
    display: flex;
    flex-direction: row;
}

#mc1 .part3 {
    border-top: 1px darkgray solid;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

#mc1 .part3 p a{
    padding: 5px;
    border: 1px solid black;
}

#mc1 .part3 p a:hover{
    background-color: #d5ddd9;
}

#mc1 .name {
    font-size: 24px;
    padding-bottom: 20px;
}

#mc1 .poste {
    text-transform: uppercase;
    padding-bottom: 20px;
}

#mc1 .part2 > div > div:first-child {
    color: #00A2E8;
    font-size: 1.5em;
    padding-bottom: 10px;
}

#mc1 .about {
    width: 45%;
    margin: 0 auto;
    text-align: justify;
}

#mc1 .detail {
    width: 45%;
}

#mc1 .detail-item div:first-child {
    padding-right: 10px;
    font-weight: bold;
}

#mc1 .detail-item {
    display: flex;
    flex-direction: row;
}

#headerPopup{
    width:75%;
    margin:0 auto;
}

#headerPopup iframe{
    width:100%;
    margin:0 auto;
}

/* Page 2 */

#mc2 .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mc2 .list > ul {
    list-style: none;
    max-width: 49%;
    width: 45%;
}

#mc2 ul {
    padding: 0;
}

#mc2 .star {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mc2 .star:hover {
    background-color: #e7e6e6;
}

#mc2 .star span {
    padding: 1px 2px;
    font-size: 1em;
    transition: color 0s, background-color 0.5s, padding 0.2s;
}

#mc2 .star .star-icon{
    color: #d3d4d4;
}

#mc2 .star:hover .star-icon {
    padding-left: 4px;
}

#mc2 .star .star-icon::before {
    content: '\2605';
}

#mc2 .star .star-icon.check {
    color: #00C9C9;
}

/* Page 3 */

#mc3 .tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 5px 0 #0A0908;
}

#mc3 .tab-item {
    background-color: #FBFCFF;
    font-size: 18px;
}

#mc3 .tab-item .tab-titre {
    padding: 5px;
    cursor: pointer;
}

#mc3 .tab-item .tab-titre:hover {
    background-color: #ddd;
}

#mc3 .tab-item:not(:last-child) {
    border-bottom: #cccccc solid 1px;
}

#mc3 .tab-item .text-cont {
    max-height: 0;
    transition: max-height 0.2s ease-out, background-color 0.5s;
    background: #BCF3FF;
    overflow: hidden;
    padding: 0 18px;
}

#mc3 .tab-item .text-cont .hidden-image{
    display: none;
}

#mc3 .tab-item .text {
    font-size: 16px;
    height: min-content;
    padding: 10px 0;
}

#mc3 .tab-item .text {
    padding: 3px 0;
    text-align: justify;
}

#mc3 .text-cont .text.last {
    padding-bottom: 10px;
}

#mc3 .text-cont .text:first-child {
    padding-top: 10px;
}

#mc3 .tab-item .image {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0 20px;
}

#mc3 .tab-item .image * {
    width: auto;
    height: auto;
    margin: 5px auto;
    box-shadow: 0 2px 5px 1px rgba(79, 79, 79, 0.75);
}

#mc3 .tab-item .image.i-1 * {
    max-width: 18em;
}


#mc3 .tab-item .image.i-2spe * {
    max-width: 8em;
}

#mc3 .tab-item .image.i-3 * {
    max-width: 10em;
}

#mc3 .tab-item .image.i-4 * {
    max-width: 5em;
}

/* Page 4 */

#mc4 .spe {
    margin-top: 15%;
}

#mc4 .text-cont-4 {
    display: flex;
    flex-direction: row;
}

#mc4 .text-cont-4 .annee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    text-align: center;
    padding: 10px 0;
}

#mc4 .text-cont-4 .annee * {
    font-size: 22px;
    padding-bottom: 5px;
    transition: color 0.3s, background-color 0.5s;
    cursor: pointer;
}

#mc4 .text-cont-4 .annee .select {
    color: #00A2E8;
    font-size: 28px;
}

/*#mc4 .text-cont-4 .annee *:after {
    content: '';
    display : inline-block;
    height : 0;
    width : 0;
    margin-left: 5px;
    border-top : 6px solid transparent;
    border-bottom : 6px solid transparent;
    border-right : 12px solid transparent;
}

#mc4 .text-cont-4 .annee .select:after {
    border-right : 12px solid #B3BFB8;
}*/

#mc4 .text-cont-4 .annee *:hover {
    color: #79E7FF;
    text-decoration: underline;
}

#mc4 .text-cont-4 .text-annee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
}

#mc4 .annee-item .annee-item-item {
    padding: 10px;
}

#mc4 .annee-item .annee-item-titre {
    font-size: 24px;
    padding-bottom: 5px;
}

#mc4 .annee-item .annee-item-text {
    text-align: justify;
}

/* Page 5 */

.try-app p {
    cursor: pointer;
}

/* ICON */

.fa {
    transition: opacity 0.2s, background-color 0.5s;
    padding: 10px 0;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-instagram {
    background: #db00f4;
}

.fa-github {
    background: black;
}

.fa-cog {
    margin: 0;
}

.fa-cog:hover {
    opacity: 1;
}

.fa-bars {
    color: #0A0908;
}

/* Mobile */

@media screen and (max-width: 1250px) {
    #mc3 .tab-item .image.i-3 * {
        max-width: 8em;
    }
}

@media screen and (max-width: 1024px) {
    #mc3 .tab-item .image.i-3 * {
        max-width: 6em;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        width: 30%;
        padding: 10% 0 100% 0;
        background-color: #00C9C9;
        z-index: 1;
        height: 100%;
        margin: 0;
    }

    .navburger {
        display: block;
    }

    .menu img {
        width: 60%;
        height: auto;
        margin: 0 auto;
    }

    .navbar *{
        font-size: 1em;
    }

    .navbar ul {
        margin: 5px 0;
    }

    .maincontent {
        position: absolute;
    }

    .maincontent > div {
        width: 100vw;
    }

    .container {
        width: 95%;
    }

    .maincontent .titre {
        font-size: 3em;
        text-align: center;
    }

    #mc1 .name {
        font-size: 2em;
        text-align: center;
    }

    #mc1 .poste {
        font-size: 1.3em;
        text-align: center;
        padding-bottom: 40px;
    }

    #mc1 table {
        font-size: 0.8em;
    }

    #mc1 .fa {
        font-size: 2em;
        width: 1.4em;
        padding: 6px 0;
    }

    #mc1 .part2 .detail-item {
        flex-direction: column;
    }

    #mc2 .list > ul {
        width: 80%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #mc2 .list {
        flex-direction: column;
    }

    #mc3 .tab-item .image.i-3 * {
        max-width: 10em;
    }
}


@media screen and (max-width: 630px) {
    body {
        overflow-y: visible;
    }

    #mc3 .tab-item .image.i-3 * {
        max-width: 8em;
    }
}

@media screen and (max-width: 510px) {
    #mc3 .tab-item .image.i-3 * {
        max-width: 6em;
    }
}

@media screen and (max-width: 400px) {
    #mc3 .tab-item .image.i-1 * {
        max-width: 15em;
    }

    #mc3 .tab-item .image.i-2spe * {
        max-width: 6em;
    }

    #mc3 .tab-item .image.i-3 * {
        max-width: 4em;
    }
}
