
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.cont {
    margin: 50px 50px;
}

.list {
    margin: 2%;
}

.justify-content {
    justify-content: space-between;
}

.list * {
    width: fit-content;
}

#map {
    height: 50vh;
    width: 50vw;
}

#pac-input {
    width: 25vw;
}
